html, body {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: border-box;
}



.owt-title {
  font-family: cursive;
  font-variant-caps: petite-caps;
  word-break: break-word;
  margin-top: 0.25em;
  margin-bottom: 0px;
}

a:visited {
  color: #5755d9;
}

.curr-browser {
  font-size: smaller;
  vertical-align: middle;
  font-weight: bold;
}

#emu {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100;
}

.by-wr {
  margin-top: 4em;
}

.err {
  margin: 1em;
  background: snow;
  border: 1px solid black;
  padding: 1em
}

.flex-form {
  display: flex;
}

.full-width {
  width: 100%;
}

.form-label, .form-radio {
  font-variant-caps: all-small-caps;
}

.space-top {
  margin-top: 1.0rem;
}

.columns {
}

.controls {
  height: 100%;
  max-width: 225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  max-width: 150px;
}

.by-wr {
  font-size: 0.75em;
  text-align: center;
}

.controls .form-group {
}

oldweb-today {
  display: flex;
  width: 100%;
  height: 100%;
}

owt-v86-browser, owt-bas-browser {
  margin-top: 1em;
  display: flex;
  width: 1024px;
  height: 768px;
}

owt-v86-browser {
  background-color: black;
}

