html, body {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
}

.owt-title {
  font-family: cursive;
  font-variant-caps: petite-caps;
  word-break: break-word;
  margin-top: 0.25em;
  margin-bottom: 0px;
}

.curr-browser {
  font-size: smaller;
  vertical-align: middle;
  font-weight: bold;
}

#emu {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100;
}

.err {
  margin: 2em;
}

.flex-form {
  display: flex;
}

.full-width {
  width: 100%;
}

.form-label, .form-radio {
  font-variant-caps: all-small-caps;
}

.space-top {
  margin-top: 1.0rem;
}

.controls {
  height: 100%;
  max-width: 225px;
}

.controls .form-group {
  margin-bottom: 1em;
}

oldweb-today {
  display: flex;
  width: 100%;
  height: 100%;
}


owt-v86-browser {
  background-color: black;
  display: flex;
  width: 1024px;
  height: 768px;
}

